@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}

#btn--login
#id-password-btn
#signin-btn
#btn--save
#update-btn:hover {
		text-decoration: none;
	color: #578cd2
}

.note-num {
	position: absolute;
	bottom: 18px;
	left: 25px;
	height: 15px;
	width: 15px;
	font-size: 12px;
	line-height: 15px;
	justify-content: center;
	text-align: center;
	background-color: red;
	border-radius: 15px;
	display: inline-block;
	color: white;
	height: 15px;
}

