@charset "UTF-8";

.s0, .s1, .s2, .s3, .s4 {
	display: flex;
	justify-content: flex-start;
}

.section {
	color: black;
	font-weight:bold;
	padding-top: 150px;
}

#fp-nav {
	margin-right: 120px;
	margin-top: 350px;
	position: absolute;
}

#fp-nav ul li a span {
	background-color: black;
}

#franchise-btn {
	display: inline-flex;
	position: fixed;
	float: right;
	top: 0%;
	right: 0%;
}
#main--item{
	margin-top: 60px;
}

#main--text {
	margin-top: 100px;
	display: inline-flex;
	vertical-align: bottom;
	flex-direction: column;
}

.main--text--add {
	font-size: 20px;
	font-family: sans-serif;
}

.main--text--add2 {
	font-size: 17px;
	font-family: sans-serif;
}

#main--img, #main--img2, #main--img3, #main--img4, #main--img5 {
	display: inline-flex;
	position: absolute;
	justify-content: flex-end;
	float: right;
	margin-top: 300px;
	margin-left: 100px;
	top: 900px;
}