@charset "UTF-8";

#startDate, #endDate, #startTime, #endTime {
	width: 180px;
	margin-right: 5px;
	text-align: center;
	font-size: 15px;
	border: 1px solid black;
}

#btn--time-check {
	width: 100px;
	height: 28px;
	text-align: center;
	border: none;
	background-color: grey;
	color: white;
	border-radius: 5px;
}

.store-detail-main-img {
	display: inline-flex;
	text-align: center;
}

#store-detail-img {
	width: 90%;
	height: 200px;
	object-fit: cover;
	border-radius: 15px;
	margin: 10px;
}

#other-store{
	width: 30px;
	height: 30px;
}

.store--seat--drawing {
	width: 60%;
	display: flex;
	justify-content: center;
	align-content: center;
	border: 1px solid black;
	padding: 20px;
	background-color: rgb(255, 255, 255, 0.5);
	display: flex;
}

.store-detail-tel {
	font-size: 20px;
}

.store-detail-update {
	background-color: grey;
	border-radius: 5px;
	height: 35px;
	padding: 5px;
	margin-left: 20px;
}

.store-detail-update a {
	text-decoration: none;
	color: white;
}

.store-main {
	height: 100%;
}

#store-img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	border: 3px solid black;
	border-radius: 10px;
	opacity: 1;
}

.store-main-address {
	font-size: 15px;
	margin: 0;
	padding: 0;
}

#store-main-btn {
	border: none;
	background-color: transparent;
}

#store-in-btn {
	width: 100px;
	height: 50px;
	margin-left: 30px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	background-color: grey;
	color: white;
}

#store--wish--emptyheart , #store--wish--heart {
	color: red;
	font-size: 40px;
	border: none;
	background-color: transparent;
	justify-content: flex-end;	
}



/* Hover Shadow */
@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    transform: translateY(6px);
    opacity: 0.4;
  }
}
#hover-shadow {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
#hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
#hover-shadow:hover {
  transform: translateY(-30px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#hover-shadow:hover:before {
  opacity: 0.4;
  transform: translateY(6px);
  animation-name: hover-shadow;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.other-store-name {
	font-size: 20px;
	
}

